{% extends 'registration/base.html' %}
{% block title %}twitter{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>hello! {{ user.username }} </p>
<p>ログインできています！</p>
<a class="btn btn-outline-warning" href="{% url 'password_change' %}">パスワードの変更</a>

<a class="btn btn-outline-danger" href="{% url 'logout' %}">ログアウト</a>

{% else %}

<a class="btn btn-outline-primary" href="{% url 'login' %}">ログイン</a>
<a class="btn btn-outline-info" href="{% url 'accounts:signup' %}">サインイン</a>
{% endif %}

{% endblock %}

 